.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 5px !important;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.showing {
  text-align: center;
  color: #454545;
  width: 100px;
}

.nav {
  width: 100px;
}

.right_nav {
  text-align: right;
}

.pagination_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 40px 60px 10px !important;
  font-size: 12px;
  font-weight: 100;
}
